<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.entertech.bleuisdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <activity android:name=".ui.activity.DeviceCanNotConnectActivity"></activity>
        <activity android:name=".ui.activity.DeviceManagerActivity" />
        <activity android:name=".ui.activity.MultipleDeviceListActivity" />
        <activity android:name=".ui.activity.DeviceActivity" />
        <activity android:name=".ui.activity.DfuNotificationActivity" />
        <activity android:name=".ui.activity.DeviceUpdateActivity" />
        <activity android:name=".ui.activity.DeviceTurnOnActivity" />
        <activity android:name=".ui.activity.WebActivity" />
        <service
            android:name=".ui.service.DfuService"
            android:exported="true">
            <intent-filter>
                <action android:name="no.nordicsemi.android.action.DFU_UPLOAD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>